.name{
    text-align: end;
}
.nameBox{
 text-align: end;
}
.email{
  text-align: end;
}
.age{
  text-align: end;
}
.student{
  text-align: end;
}
td{
  line-height: 1.8;
}
.freeCodeCamp{
  text-align: end;
 
 
}


