* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: aqua;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px;
}

.main-container {
  background-color: white;
  width: 80%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.data {
  display: flex;
  gap: 20px;
}

.inner-intro {
  margin: 15px;
}