.outer{
  height:550px;
  width:300px;
  border: 2px solid black;
}
.inner{
  aspect-ratio: 1;
  width:100%;
  background-color: white;
  /* border: 2px solid black; */
  background-image: url(images/nicolas-hirajeta-wJQPr0iQpK4-unsplash.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  
}
button{
  width: 70px;
  height: 30px;
  margin: 20px 0px 20px 53px;
  background-color: rgb(7, 181, 224);
  border-radius: 5px;
}



